@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-logo-container">
    <h1 class="ion-ios7-people text-logo"></h1>
    <h2>Membership <span class="glyphicon glyphicon-plus-sign" style="font-size:smaller;"></span> administration</h2>
</div>

