@using Archymeta.Web.Security.Resources;
<script type="text/javascript">
    function serverNotifications(msgs, categs) {
        $("#system-alert").removeClass("notice");
        $("#system-alert").addClass("notice-alert");
        var _msgs = msgs.sort(function (a, b) { return b.priority - a.priority; });
        var txt = '<ul class="notice-brief">\r\n';
        for (var i = 0; i < _msgs.length; i++) {
            txt += '    <li>' + _msgs[i].title + '</li>\r\n';
        }
        txt += '</ul>';
        if (categs.length > 0) {
            txt += '\r\n<div>\r\n';
            for (var i = 0; i < categs.length; i++) {
                txt += '<fieldset><legend>' + categs[i].name + '</legend><ul class="notice-brief">\r\n';
                for (var j = 0; j < categs[i].list.length; j++) {
                    txt += '<li>' + categs[i].list[j].title + '</li>\r\n';
                }
                txt += '</ul></fieldset>\r\n';
            }
            txt += '</div>';
        }
        $("#system-alert").qtip({
            overwrite: true,
            content: {
                title: '@ResourceUtils.GetString("7c2dacaa9087a974daac882c90ec1e65", "System notifications")',
                text: txt
            },
            position: {
                my: 'right top',
                at: 'bottom left',
            }
        });
        $.jGrowl(txt, { sticky: true });
        if (typeof handleNotification != 'undefined') {
            handelNotification(_msgs);
        }
    }
</script>
<fieldset>
    <legend></legend>
</fieldset>
<iframe src="@Url.Content("~/Callbacks/SystemNotification")" style="display:none; height:0px;width:0px;"></iframe>