@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>System Notifications</title>
</head>
<body>
@if (Request.IsAuthenticated)
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalr")
    <script src="@Url.Content("~/signalr/hubs")"></script>

    <script type="text/javascript">
        $(function () {
            var notice = $.connection.notificationHub;
            notice.client.serverNotifications = function (typeId, msgs, categs) {
                if (parent && typeof parent.serverNotifications != 'undefined') {
                    parent.serverNotifications(typeId, msgs, categs, __chat_invitation_handler);
                }
            };
            $.connection.hub.start().done(function () {
                isChatHubStarted = true;
            });
        });

        var isChatHubStarted = false;

        function __chat_invitation_handler(respType, peerId, connectionId, msg) {
            var chat = $.connection.privateChatHub;
            chat.server.userConnectResponse(respType, peerId, connectionId, msg);
        }
    </script>
}
</body>
</html>
