<section>
    <p>Existing users:</p>
    <ol>
        <li>
            <b>System Administrator</b>:
            <ul>
                <li>Username: "sysadmin"</li>
                <li>Password: "abcdef"</li>
                <li>Role: "Administrators &gt; System" </li>
            </ul>
        </li>
        <li>
            <b>A General Administrator</b>:
            <ul>
                <li>Username: "demo-user-a"</li>
                <li>Password: "abcdef"</li>
                <li>Role: "Administrators" </li>
            </ul>
        </li>
    </ol>
    <p><strong>Note</strong>: the sample data must be loaded first at the data service site.</p>
</section>

