<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBinding_DataService" maxBufferSize="6553600" maxBufferPoolSize="5242880" maxReceivedMessageSize="6553600">
                    <security mode="None" />
                    <readerQuotas maxDepth="50" maxStringContentLength="181920" maxArrayLength="104857600" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="ImpersonateEndpointBehavior">
                    <clientCredentials>
                        <windows allowedImpersonationLevel="Delegation" allowNtlm="true" />
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <client>
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/MembershipPlusDatabase2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IMembershipPlusService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/AnnouncementSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IAnnouncementService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/Application_Set2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IApplication_Service2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/CommunicationSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.ICommunicationService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/CommunicationTypeSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.ICommunicationTypeService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/EventCalendarSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IEventCalendarService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/EventCalendarShareCircleSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IEventCalendarShareCircleService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/RoleSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IRoleService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UserAppMemberSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserAppMemberService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UserAssociationSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserAssociationService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UserAssociationTypeSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserAssociationTypeService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UserAssocInvitationSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserAssocInvitationService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UserDetailSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserDetailService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UserGroupAdminRoleSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserGroupAdminRoleService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UserGroupMemberSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserGroupMemberService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UserGroupSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserGroupService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UserGroupTypeSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserGroupTypeService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UserProfileSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserProfileService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UserProfileTypeSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserProfileTypeService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UserSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UsersInRoleSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUsersInRoleService2" />
            <endpoint name="HTTP" address="http://__servicedomain__/Services/DataService/MembershipPlus/UsersRoleHistorySet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUsersRoleHistoryService2" />
        </client>
    </system.serviceModel>
</configuration>