<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="query">
      <section name="customization" type="Archymeta.Web.MembershipPlus.AppLayer.Configuration.QueryCustomizationHandler,MembershipPlusAppLayer" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="MaxClientCacheAgeInHours" value="24" />
    <add key="EnableClientCache" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApplicationName" value="MemberPlusManager" />
    <add key="WriteAuthExceptionsToEventLog" value="false" />
    <add key="RequiresUniqueUserEmail" value="true" />
    <add key="UserApprovedOnAddition" value="true" />
    <add key="ThrowOnDeletePopulatedRole" value="true" />
    <add key="DeleteUserMembershipOnly" value="true" />
    <add key="PasswordAttemptWindow" value="20" />
    <add key="MaxInvalidPasswordAttempts" value="5" />
    <add key="UserStoreAutoCleanupRoles" value="true" />
    <add key="SupportedLanguages" value="en,zh-hans" />
    <add key="DefaultDataSource" value="MembershipPlus" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1"/>
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="66AAEB3972A90271EBD0012FDD4EE0492BE84F54ECC80EC2697C73E41A183F61D617EF3FC00AA6AB09DDBD0ABDAF67451DA6DF9BC1AEC37CE37FAEED953BB905" decryptionKey="196780F6B96E569F753355B519D6853EC61CACF09E51482B5BABEF828BCCD45E" validation="SHA1" decryption="AES" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_DataService" maxBufferSize="6553600" maxBufferPoolSize="5242880" maxReceivedMessageSize="6553600">
          <security mode="None" />
          <readerQuotas maxDepth="50" maxStringContentLength="181920" maxArrayLength="104857600" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="defaultBinding" allowCookies="true" maxBufferSize="65536000" maxReceivedMessageSize="65536000" maxBufferPoolSize="5242880">
          <readerQuotas maxDepth="50" maxStringContentLength="1819200" maxArrayLength="104857600" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ImpersonateEndpointBehavior">
          <clientCredentials>
            <windows allowNtlm="true" allowedImpersonationLevel="Delegation" />
          </clientCredentials>
        </behavior>
        <behavior name="endPointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="defaultSvcBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/MembershipPlusDatabase2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IMembershipPlusService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/AnnouncementSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IAnnouncementService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/Application_Set2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IApplication_Service2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/CommunicationSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.ICommunicationService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/CommunicationTypeSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.ICommunicationTypeService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/EventCalendarSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IEventCalendarService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/EventCalendarShareCircleSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IEventCalendarShareCircleService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/EventTypeSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IEventTypeService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/MemberNotificationSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IMemberNotificationService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/RoleSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IRoleService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UserAppMemberSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserAppMemberService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UserAssociationSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserAssociationService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UserAssociationTypeSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserAssociationTypeService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UserAssocInvitationSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserAssocInvitationService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UserDetailSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserDetailService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UserGroupAdminRoleSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserGroupAdminRoleService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UserGroupMemberSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserGroupMemberService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UserGroupSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserGroupService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UserGroupTypeSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserGroupTypeService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UserProfileSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserProfileService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UserProfileTypeSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserProfileTypeService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UserSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUserService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UsersInRoleSet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUsersInRoleService2" />
      <endpoint name="HTTP" address="http://localhost/membp/Services/DataService/MembershipPlus/UsersRoleHistorySet2.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_DataService" contract="CryptoGateway.RDB.Data.MembershipPlus.IUsersRoleHistoryService2" />
    </client>
    <services>
      <service behaviorConfiguration="defaultSvcBehavior" name="Archymeta.Web.MembershipPlus.AppLayer.Proxies.DataServiceProxy">
        <endpoint address="" behaviorConfiguration="endPointBehavior" binding="webHttpBinding" bindingConfiguration="defaultBinding" contract="Archymeta.Web.Search.Proxies.IDataServiceProxy" listenUri="/" kind="webHttpEndpoint" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <query>
     <customization>
       <global>
         <maps>
           <map from="&amp;&amp;" to="and" />
           <map from="||" to="or" />
           <map from="asc" to="asc" />
           <map from="desc" to="desc" />
         </maps>
       </global>
       <datasource name="MembershipPlus">
         <set name="User">
           <filters type="admin" allow-implied="false">
             <filter target="sorting" expr="{0}.indexOf('Password') == -1" />
             <filter target="filtering" expr="{0}.indexOf('Password') == -1 || {0}.indexOf('Password') != -1 &amp;&amp; {0}.indexOf('Failed') != -1" />
           </filters>
           <filters type="app">
             <filter target="sorting" expr="*password*" case-sensitive="false" />
             <filter target="filtering" expr="*password*" case-sensitive="false" />
           </filters>
           <maps>
             <map from="UserAppMember." to="Membership." />
             <map from="UserDetail." to="Detail." />
             <map from="TextContent" to="keywords" />
             <map from="AddressInfo" to="Address" />
             <map from="Username" to="Name" to-resId="92f1b1481fa6ff46c4a3caae78354dac" globalize="false" />
           </maps>
         </set>
       </datasource>
     </customization>
  </query>
</configuration>