@using Microsoft.AspNet.Identity;
@using Archymeta.Web.Security.Resources;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
             @{ Html.RenderAction("GenerateUserIcon", "Account"); }
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@ResourceUtils.GetString("99f01e14b21162806142bace835e81c3", "Log off")</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(ResourceUtils.GetString("0ba7583639a274c434bbe6ef797115a5", "Register"), "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(ResourceUtils.GetString("bffe9a3c9a7e00ba00a11749e022d912", "Log in"), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
