<div class="QueryInput">
    <div class="row collapse">
        <div class="col-sm-2 sortlabel">
            <label for="sortOpts">Sorted by:</label>
        </div>
        <div class="col-sm-10 sorterexpr">
            <div class="sortnode">&nbsp;</div>
            <!-- ko foreach: SorterPath -->
            <!-- ko ifnot: IsExternal || DisplayAs == "this" -->
            <div class="sortnode" data-bind="text: DisplayAs">
            </div>
            <!-- ko if: IsEntityAccess -->
            <div class="dotnode">
                <img src="@Url.Content("~/Images/node_green.png")" alt="." />
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot:IsExternal || DisplayAs != "this" -->
            <div class="thisnode" data-bind="text: DisplayAs">
            </div>
            <!-- ko if: IsEntityAccess -->
            <div class="dotnode">
                <img src="@Url.Content("~/Images/node_green.png")" alt="." />
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: IsExternal -->
            <div class="dirnode">
                <img data-bind="attr: {src: ImgSrc, alt: DisplayAs, title: DisplayAs}" />
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <input id="sortOpts" />
        </div>
    </div>
    <div class="row collapse">
        <div class="col-sm-2 filterlabel">
            <label for="filterOpts">Filtered by:</label>
        </div>
        <div class="col-sm-10 filterexpr">
            <div class="filternode">&nbsp;</div>
            <!-- ko foreach: FilterPath -->
            <div data-bind="text: DisplayAs, css: TkClass">
            </div>
            <!-- /ko -->
            <input id="filterOpts" />
        </div>
    </div>
</div>
<div id="SetInfoBar">
    <div class="row">
        <div class="large-2 columns" style="text-align:right">
            <span><strong>which means:</strong></span>
        </div>
        <div class="large-10 columns">
            <!-- ko if: CurrentFilters() != null -->
            <span data-bind="text: CurrentFilters().CurrentExpr "></span>
            <!-- /ko -->
        </div>
    </div>
</div>

